.tutor-info-card__container {
  width: 100%;
  border-radius: 10px;
  margin: 1rem 1rem 1rem 0rem;
  margin-left: none;
  padding: 2rem;
  background-color: #e6f0ff; /* Match the background color of the accordion details */

}

.tutor-info-card__overview {
  /* margin-top: 50px; */
  display: flex;

  /* align-items: center; */
}

.tutor-info-card__avatar {
  width: 140px;
  height: 140px;
  border-radius: 50px;
}

.tutor-info-card__details {
  /* padding-top: 25px; */
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}

.tutor-info-card__name {
  font-size: 20px;
  font-weight: bold;
}

.tutor-info-card__description {
  font-size: 14px;
}

.tutor__courses__container {
  margin-top: 5px;
  display: flex;
  align-items: center;
  color: rgb(73, 73, 73);
  font-weight: 500;
}
.tutor__languages__container {
  margin-top: 5px;
  display: flex;
  align-items: center;
  color: rgb(73, 73, 73);
  font-weight: 500;
}

.tutor-info-card__text {
  font-size: 12px;
  margin-left: 10px;
}
.tutor-info-card__about {
  font-weight: bold;
}
.tutor-info-card__about-me {
  font-size: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}
.show-more__container--hidden {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 50px;
  overflow-y: hidden;
}
.show-more__container--visible {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.show-more__button {
  background: none;
  border: none;
  color: black;
  font-weight: 600;
  text-align: left;
  /* margin-top: 3px; */
  padding: 0;
  font-family: "open sans", sans-serif;
  font-size: 12px;
  text-decoration: underline;
}
.show-more__button:hover {
  color: #103da2;
}

.tutor-info-card__more-info__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* margin-top: 10px; */
  width: 40%;
  /* padding-right: 1rem; */
}

.tutor-info__learn-more {
  background-color: #103da2;
}

.mb {
  .tutor-info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    
    box-sizing: border-box;
}
.tutor-info-card__text {
  text-align: left;
}
.tutor-info-card__overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding-top: 5px;
    background-color: #e6f0ff; /* Match the background color of the accordion details */
    transition: box-shadow 0.3s ease; /* Smooth */
}

.tutor-info-card__avatar-container,
.tutor-info-card__details,
.tutor-info-card__more-info__container {
    width: 80%;
    margin-bottom: 1rem;
    align-items: flex-end;

}



.tutor-info-card__details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tutor-info-card__name,
.tutor-info-card__description,
.tutor__courses__container,
.tutor__languages__container,
.tutor-info-card__about-me {
    width: 100%;
    text-align: center;
}
.tutor-info-card__about-me {
  text-align: left !important;
}

.show-more__container--visible,
.show-more__container--hidden {
    width: 100%;
}

.show-more__button {
    margin-top: 0.5rem;
}
}