.tutor-info-form {
    display: flex;
    flex-direction: column;
    /* Stack labels and input rows vertically */
}

.input-row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2px;
    margin-bottom: 1rem;
    margin-top: .25rem;

    /* create space on right*/
}

/* .input-row.course-offerings {
    justify-content: space-between;
    width: 100%;
} */

.input-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    margin-left: 0rem;
    /* create space on right*/
}

.input-column label {
    text-align: left;
    font-weight: bold;
}

.input-column label input {
    width: 100%;
    height: 2.5rem;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #B3DEFC;
}

.input-row label {
    text-align: left;
    font-weight: bold;
}

.input-row label input {
    width: 100%;
    height: 2.5rem;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #B3DEFC;
}

.basic-multi-select {
    width: 100%;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;



    
    border-color: #B3DEFC;
}


.input-row label select {
    width: 100%;
    height: 2.5rem;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #B3DEFC;
}

input[type="submit"] {
    align-self: flex-end;
    width: 12rem;
    height: 2.2rem;
    border-radius: 15px;
    background-color: #B3DEFC;
    border: none;
    font-weight: bold;
    color: #103DA2;
    font-size: .9rem;
    cursor: pointer;
}

.tutor-info-container {
    color: #103da2;
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: #b3defc;
    min-height: 200px;
}

.bio-input {
    width: 100%;
    height: 70px;
    min-width: 200px;
    border: 2px solid #B3DEFC;
    border-radius: 10px;
    font-size: 16px;
    resize: vertical;
    /* Allow vertical resizing */
}

.description-input {
    width: 100%;
    min-width: 200px;
    border: 2px solid #B3DEFC;
    border-radius: 10px;
    font-size: 16px;
    resize: vertical;
    /* Allow vertical resizing */
}

.offerings {
    width: 100%;
    min-width: 200px;
    border: 2px solid #B3DEFC;
    border-radius: 10px;
    font-size: 16px;
    resize: vertical;
    /* Allow vertical resizing */
}