.app-container {
    display: flex;
    /* justify-content: center; */
    align-items: left;
    height: 100vh;
    margin: 10px;
}

.calendar-container {
    /* display: flex; */
    margin-right: 16px;
    max-height: 75vh;
}

.modal-container {
    width: 300px;
}

.rbc-allday-cell {
    display: none;
}

.rbc-header {
    padding-top: 5px;
    padding-bottom: 5px;
}