.screen-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.students {
  margin: 0.6rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
  border-radius: 0.9375rem;
  border: 3px solid var(--Light-Blue, #B3DEFC);
}

.students-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.students-title {
  color: #103DA2;
  font-size: 1.25rem;
  font-weight: 700;
}

.add-student {
  display: flex;
  flex-direction: row;
  padding: 0.15rem 0.25rem;
  align-items: center;
  justify-content: center;
  background-color: #B3DEFC;
  border-radius: 0.9375rem;
}

.add-student-text {
  color: #103DA2;
  font-size: 0.75rem;
  font-weight: 600; 
  margin-right: 0.25rem;
}

.all-students {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: scroll;
  padding-bottom: 1rem;
}


.all-students::-webkit-scrollbar {
  height: 0.3rem;
}

.all-students::-webkit-scrollbar-track {
  background: #00B0F1;
  border-radius: 100vw;
}

.all-students::-webkit-scrollbar-thumb {
  background: #103DA2;
  border-radius: 100vw;
}