.search-bar {
    padding-right: 25px;
    background: url("../../assets/search.png") no-repeat right;
    background-size: 15px;
    background-color: #B3DEFC;
    border: 3px solid #B3DEFC;
    /* Specify border color and width */
    border-radius: 15px;
    box-shadow: none;
    width: 9rem;
    padding-left: 10px;
    max-width: 100%;
}