.registrations__table {
    /* width: 90%; */
    margin: 20px 20px 20px 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.registration__table-header-element {
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid rgb(221, 221, 221);
    text-align: center;
    color: white;
    background-color: rgb(16, 61, 162);
    cursor: pointer;
}
