.header-container {
  height: 5%;
  width: 100%;
  justify-content: flex-start;
  padding: 0 0 0 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-logo-container {
  display: flex;
  align-items: center;
  width: 2%;
  height: 70%;
}

.header-logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
