.header-container {
  height: 5%;
  width: 100%;
  justify-content: flex-start;
  padding: 0 0 0 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-logo-container {
  display: flex;
  align-items: center;
  width: 2%;
  height: 70%;
}

.header-logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}


.header-logout {
  height: 85%;
  width: 100%;
  object-fit: contain;
  margin-left: 94vw;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #bfefff;
}