.course-container {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
}

.registration__table-row-element {
    padding: 10px;
    border-bottom: 1px solid #000;
    text-align: center;
}

.registration__row-expand-content {
    grid-column: 1 / span 8;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
    padding: 20px 0px;
    border-bottom: 1px solid #000;
}


.registration__row-expand-table {
    width: 80%;
    border-collapse: collapse;
    border-top: 1px solid #000;
}

.registration__row-expand-row {
    border-bottom: 1px solid #000;
}

.registration__row-expand-header {
    padding: 8px;
    font-weight: 600;
    text-align: left;
    cursor: pointer;
}

.registration__row-expand-title {
    font-size: 20px;
    font-weight: bold;
}

.registration__expand-row-element {
    padding: 10px;
    text-align: left;
    font-weight: 400;
}

.course-label {
    background-color: #8B4513;
    /* brown */
    color: #fff;
    /* white */
    padding: 5px 10px;
    margin-right: 10px;
}

.course-info {
    flex-grow: 1;
}

.register-button {
    background-color: #0000FF;
    /* blue */
    color: #fff;
    /* white */
    padding: 5px 15px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}